body{
    background-color: aliceblue;
}

*{
    font-family: "Rubik", sans-serif;
}

h1{
    font-family: "Playwrite NO", cursive;

}

h2,h3,h4,h5,h6{
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
}

.lorem{
    text-align: justify;    
}

input[type=checkbox] {
    zoom: 1.5;
}

.none{
    opacity: 0;
}

.one{
    transition: all ease-in-out .8s ;
    opacity: 1;
}


.sample, .myday, .planned, .task, .assign{
    transition: all ease-in-out .8s ;
}